.blog-slider .blog-slider-arrow {
    position: absolute;
    right: 0;
    height: 26px;
    width: 30px;
    font-size: 0;
    padding: 0;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    opacity: 1;
    box-shadow: none;
  }
  
  .blog-slider .blog-slider-arrow svg {
    width: 12px;
    height: 12px;
    line-height: 26px;
    color: #000;
  }
  
  .blog-slider .blog-slider-arrow:disabled,
  .blog-slider .blog-slider-arrow:disabled svg {
    color: #ddd;
    cursor: pointer;
  }
  
  .blog-slider .arrow-left {
    border-radius: 25px 0 0 25px;
    right: 60px;
  }
  .blog-slider .arrow-right {
    border-radius: 0 25px 25px 0;
    right: 30px;
  }