@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .8px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}

@media (min-width: 1680px){
  .section-container{
    max-width: 1680px;
  }
}

.section-container {
  position: relative;
  width: 100%
}

@media (min-width: 1680px) {
  .section-container {
      width:1680px
  }
}

@media (min-width: 1631px) and (max-width:1680px) {
  .section-container {
      width:1600px
  }
}

@media (min-width: 1500px) and (max-width:1630px) {
  .section-container {
      width:1430px
  }
}

@media (min-width: 1260px) and (max-width:1499px) {
  .section-container {
      width:1230px
  }
}

@media (min-width: 1200px) and (max-width:1259px) {
  .section-container {
      width:1170px
  }
}

@media (min-width: 1081px) and (max-width:1199px) {
  .section-container {
      width:1060px
  }
}

@media (min-width: 992px) and (max-width:1080px) {
  .section-container {
      width:970px
  }
}

@media (min-width: 768px) and (max-width:991px) {
  .section-container {
      width:750px
  }
}

@media (max-width: 767px) {
  .section-container {
      width:100%;
  }
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d3436;
  z-index: 9999;
  overflow: hidden;
}


.book {
  position: relative;
  width: 60vmin;
  height: 80vmin;
  perspective: 2000px;
}


.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  transform-origin: left;
  animation: pageFlip 2s ease-in-out forwards;
  backface-visibility: hidden;
  opacity: 0;
  border: 15px solid green;
}


.page1 {
  animation-delay: 0s;
}
.page2 {
  animation-delay: 2s;
}
.page3 {
  animation-delay: 4s;
}


@keyframes pageFlip {
  0% {
    transform: translateX(-100%) rotateY(0deg); 
    opacity: 0;
  }
  50% {
    transform: translateX(0) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(100%) rotateY(-180deg);
    opacity: 0;
  }
}


/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3a3f50;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #5a5e70;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #232734;
  border-radius: 10px;
}